<!--
<h3><%= language.index.about.aboutgame %></h3>

<p>Онлайн игра HEROgs увидела свет в марте 2007 года. Проект создан группой людей, увлеченных миром приключений и
    фэнтези. Находясь в реальной жизни в разных полушариях планеты, мы все увлечены интересным и захватывающим
    миром древних существ и героев. Надеемся, что эта бесплатная игра позволит Вам вновь и вновь погружаться в
    атмосферу магии и боев.</p>
<p>Развивая своего персонажа, Вы можете участвовать в одиночных, групповых, а с недавних пор - даже в клановых
    схватках! Для любителей стратегий и экономики мы подготовили обширную экономическую модель. Отдыхая в перерывах
    между поединками или полностью посвятив себя ремеслу торговца, Вы сможете добывать и перерабатывать десятки
    видов сырьевых ресурсов, производить и продавать сотни артефактов.</p>
<p>Игра поддерживается всеми современными браузерами, использование новейших Flash-технологий позволяет создать
    красочные бои без установки на ваш компьютер каких-либо дополнительных приложений. Благодаря этому требования к
    мощности компьютера и скорости Интернет-соединения минимальны. Пользователей модемных и gprs-подключений также
    порадует и тот факт, что игра потребляет небольшой трафик.</p>

    -->